@charset "utf-8";

html,body{width:100%;height:100%;font-family: 'Microsoft YaHei';}
/*全局*/
*{font-family: 'Microsoft YaHei';}
.padding-left{padding-left:10px;}
.padding-right{padding-right: 10px;}
.margin-right{margin-right: 10px;}
.margin-remove{margin:0;}
.float_right{float:right;}
div.ivu-alert{border-radius: 0px;}
div.line{width:100%;height:1px;border-top: 1px dotted #ccc;margin:5px 5px 15px auto;position: relative;}
div.line h3{position: absolute;left:20px;top:-22px;background: #fff;margin: 10px 0 10px auto;color:#3091f2;}
div.space{height: 2px;}
button span a{color: #fff;}
button span a:hover{color: #fff;}
span.red{color:#ff0000;padding-left:3px;width:2px;display:inline-block;}
.ivu-form-item .ivu-input,.ivu-form-item .ivu-select-placeholder{width:200px;}
.ivu-form-item .ivu-select-options{width:200px;}
.wrapper .ivu-btn-back{background-color: #76797b;border-color:#76797b;color:#fff;}
.menu-open{position: absolute;z-index: 999;}
.menu-toggle{color:#fff;}
.menu-toggle span{font-size:14px;}
.wrapper .ivu-icon-chevron-left:before{color:#fff;}
.wrapper .ivu-table-cell{padding-left: 5px;padding-right: 5px;word-break:normal;}
// .wrapper table th{text-align: center;}
ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}


.ivu-alert-with-desc span.ivu-alert-message{color:#3399ff;}
.ivu-form .ivu-form-item{margin-bottom: 5px;;}
.wrapper .ivu-input{border-radius: 0px;}
.wrapper .ivu-select-selection{border-radius: 0px;}
.wrapper .ivu-table td,.wrapper .ivu-table th{height: 30px;}
.wrapper .ivu-btn{border-radius: 0;}
.wrapper .ivu-alert-with-desc{padding: 7px;}

.wrapper{position: relative;font-family: 'Microsoft YaHei';}
.wrapper .layout .layout-logo-left img.logo{height: 40px;width:100%;max-width: 215px;min-width: 140px;}
.wrapper .layout .layout-logo-left{background: #fff;height: 45px;}
.layout-main .ivu-row-flex h4{line-height:20px};

/*登陆*/
.wrapper .login{width:300px;margin-top:20%;position: absolute;left:45%;}
.wrapper .login .ivu-card{border-radius: 5px;}
.wrapper .login .ivu-card-head{background: #3091f2;border-radius: 5px 5px 0 0;}
.wrapper .login .ivu-card-head p{color:#fff;}
.wrapper .login .ivu-form-item-content button{float: right;}

/*菜单*/
.wrapper .ivu-menu li.ivu-menu-item a{color:#fff;font-weight: normal;}

/*首页*/
.wrapper,.layout,.ivu-row-flex,.layout-menu-left{height: 100%;}
.wrapper .layout{
        border: 1px solid #d7dde4;
        background: #f5f7f9;
        position: relative;
    }
.wrapper .layout-breadcrumb{
        padding: 10px 15px 0;
    }
.wrapper .layout-main{
        min-height: 200px;
        margin: 5px;
        /*overflow: hidden;*/
        border-radius: 4px;
        /*height: 85%;*/
    }
.wrapper .layout-content{
        padding: 5px;
        margin-top:10px;
        background: #fff;
    }
.wrapper .layout-menu-left{
        background: #464c5b;
    }
.wrapper .layout-header{
        height: 60px;
        background: #fff;
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
    }
.wrapper .layout-logo-left{
        width: 90%;
        height: 30px;
        background: #5b6270;
        border-radius: 3px;
        margin: 15px auto;
    }
.wrapper .layout-header{height: 40px;}    
.wrapper .layout-header .ivu-row .ivu-col{height: 40px;line-height: 40px;}    
.wrapper .layout-header .ivu-row .ivu-col .face{width:30px;height:30px;border-radius: 30px;margin-top:5px;float:left;border: 1px solid #ccc;}
.wrapper .layout-header .ivu-row .ivu-col h3{text-align: left;float:left;}
.wrapper .layout-header .ivu-row .ivu-col h3.logout a{color:#bd2626;}
.wrapper .layout-header .ivu-row .ivu-col .user-info{float: right;}